@media only screen and (width: 1024px) {.OuterClass .OuterSubClass {
    margin: 5px;
}}

@media  all and (max-width: 600px) {
    .OuterClass  .OuterSubClass .InnerClass, .OuterClass  .OuterSubClass .InnerClass1, .OuterClass  .OuterSubClass .InnerClass2 {width: auto; float: none;}
    .OuterClass  .OuterSubClass .InnerClass1 .InnerSubClass1 {display: none;}
    .OuterClass  .OuterSubClass .InnerClass2 .InnerSubClass2 {width: auto;}
    .OuterClass  .OuterSubClass .InnerClass1 .InnerClass2, .OuterClass  .OuterSubClass .InnerClass .InnerClass1 .InnerClass3 {display: none;}
}
.OuterClass .OuterSubClass {
    padding: 25px;
}