




.two-args {
    color: blue; 
    width: 2px; height: 100%; 
}

.one-arg {
    width: 3px; height: 50%; 
}

.no-parens {
    width: 1px; height: 50%; 
}

.no-args {
    width: 1px; height: 50%; 
}

.var-args {
    
    width: 9; height: 9; 
}







.scope-mix {
    width: 5; height: 3; 
}

