
    .nested .header {
        height: 15px;
    }

    .nested {color: blue;}

    

        .nested .inner .title,.nested .body .title {
            height: 10px;
        }
    

    .nested {height: 5px;
    border: 1px;}


.normal {
    color: red;
}
