








/* .nested { */
.nested .test1 {
    background-image: -moz-linear-gradient(top, bottom, from(#030303), to(#010101)); background-image: -webkit-gradient(linear, left top, left bottom, from(#030303), to(#010101)); 
}

/* } .nested */

/* .nested { */.nested .test2 {
    background-image: -moz-linear-gradient(top, bottom, from(#030303), to(#010101)); background-image: -webkit-gradient(linear, left top, left bottom, from(#030303), to(#010101)); 
}

/* } .nested *//* .nested { */.nested .test3 {
    background-image: -moz-linear-gradient(top, bottom, from(red), to(green)); 
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(green)); 
}

/* } .nested *//* .nested { */* html .nested .test {
    height: 10px; 
}
/* } .nested *//* .cat, .dog { */
.cat:hover, .dog:hover, .cat .bob, .dog .bob {
    color: blue; 
}
/* } .cat, .dog */
