/* .nested { */
.nested .header {
    height: 15px; 
}

.nested {color: blue;}


/* .nested .inner, .nested .body { */
.nested .inner .title, .nested .body .title {
    height: 10px; 
}
/* } .nested .inner, .nested .body */

.nested {height: 5px; 
    border: 1px;}
/* } .nested */

.normal {
    color: red; 
}
