// h1, h2, h3 {
// h1 a, h2 a, h3 a, h1 p, h2 p, h3 p {
h1 a:hover, h2 a:hover, h3 a:hover, h1 p:hover, h2 p:hover, h3 p:hover {color: red;}
// } h1 a, h2 a, h3 a, h1 p, h2 p, h3 p 
// } h1, h2, h3 
#all {color: blue;}
#the {color: blue;}
#same {color: blue;}

ul, li, div, q, blockquote, textarea {margin: 0;}

td {margin: 0; padding: 0;}

td, input {line-height: 1em;}
